*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  color: inherit;
  font-family: "Outfit", sans-serif;
}

p, ul, a, span, button{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

ul{
  list-style-type: none;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
}

img{
  object-fit: cover;
  width: 100%;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-info.subscribe-rrss{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-subscribe-form{
  padding-top: 1rem;
}

.about-subscribe-form input{
  height: 4vh;
  width: 60%;
}

.about-subscribe-form button{
  background-color: hsl(273, 90%, 31%);
  border: none;
  border-radius: 40px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
}

.about-rrss-icons{
  display: flex;
  gap: 1.5rem;
}

.about-rrss-icons svg{
  fill: hsl(0, 0%, 46%);
  width: 1.5rem;
}


































/* Responsive */
/* Tablet en vertical o móvil de mayor tamaño */
@media (min-width: 600px){
  .about{
    flex-direction: row;
  }
}

/* Tablet en apaisado o portatil pequeño */
@media (min-width: 1200px){
  .about{
    flex-direction: row;
  }
}

/* Portatil alta resolución y pantallas grandes */
@media (min-width: 1920px){
  .about{
    display: flex;
    flex-direction: row;
  }
}