*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  color: inherit;
  font-family: "Outfit", sans-serif;
  text-transform: capitalize;
}

p, ul, a, span, button, input{
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

ul{
  list-style-type: none;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
}

main{
  padding: 0 15%;
}

img{
  object-fit: cover;
  width: 100%;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.about-subscribe-text{
  color: hsl(0, 0%, 60%);
}

.about-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-info.special{
  gap: 2rem;
}

.about-list ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-subscribe{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-subscribe-form input{
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 40px;
  color: hsl(0, 0%, 60%);
  height: 5.5vh;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-transform: none;
  width: 90%;
}

.about-subscribe-form button{
  background-color: hsl(258, 97%, 50%);
  border: none;
  border-radius: 40px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
}

.about-rrss{
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.about-rrss-icons ul{
  display: flex;
  gap: 1.5rem;
  padding-top: 0.5rem;
}

.about-rrss-icons svg{
  fill: hsl(0, 0%, 60%);
  width: 1.5rem;
}

/* Responsive */
/* Tablet en vertical o móvil de mayor tamaño */
@media (min-width: 600px){
  .about{
    gap: 3rem;
  }

  .about-subscribe-form input{
    height: 4vh;
  }
}

/* Tablet en apaisado o portatil pequeño */
@media (min-width: 1200px){
  .about{
    flex-direction: row;
    gap: 5rem;
  }

  .about-subscribe-form input{
    height: 5vh;
    width: 60%;
  }

  .about-subscribe-form button{
    padding: 0.7rem 1.5rem;
  }
}

/* Portatil alta resolución y pantallas grandes */
@media (min-width: 1920px){
  .about{
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .about-subscribe-form input{
    height: 4vh;
    width: 60%;
  }

  .about-subscribe-form button{
    padding: 0.7rem;
  }
}